@model Vaxtaskra.Models.Vaxtafotur_extra

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Vaxtafotur</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.vaxtafotur.VaxtafoturID,  new { @Value = Model.vaxtafotur.VaxtafoturID })
   

    <div class="form-group">
        @Html.LabelFor(model => model.vaxtafotur.Heiti, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.vaxtafotur.Heiti, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.vaxtafotur.Heiti, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.vaxtafotur.Is_Indexed, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.vaxtafotur.Is_Indexed)
                @Html.ValidationMessageFor(model => model.vaxtafotur.Is_Indexed, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.vaxtafotur.is_active, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.vaxtafotur.is_active)
                @Html.ValidationMessageFor(model => model.vaxtafotur.is_active, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.vextir, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.vextir)
                @Html.ValidationMessageFor(model => model.vextir, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
