@model IEnumerable<Vaxtaskra.Models.Product_indexation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.is_Indexed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAX_number_payments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MIN_number_payments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.is_Indexed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAX_number_payments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MIN_number_payments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductIndexationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductIndexationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductIndexationID })
        </td>
    </tr>
}

</table>
