@model Vaxtaskra.Models.Vaxtaruna

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vaxtaruna</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Heiti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heiti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_deposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_deposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_fixed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_fixed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_indexed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_indexed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Months_tied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Months_tied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_Corp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_Corp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vextir_greidast.Vextir_greiddir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vextir_greidast.Vextir_greiddir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vaxtafotur.Heiti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vaxtafotur.Heiti)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VaxtarunaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
