@model IEnumerable<Vaxtaskra.Models.Product>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var i in ViewBag.ProductTypes)
{
    <H1>@i.Type</H1>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
            </th>
            <th>Product Type</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (i.Type == item.ProductCategory.ProductType.Type)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCategory.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCategory.ProductType.Type)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                    </td>
                </tr>

            }
        }
    </table>
        }

  
